{{#each items}}
	<li class="friends" draggable="true">
		<div class="friend">
			<div class="image">
				<img src="{{photo_50}}" alt="" draggable="false"/>
			</div>
			<p class="name">{{first_name}} {{last_name}}</p>
		</div>
		<span class="plus"></span>
	</li>
{{/each}}