<div class="logo">
	<img src="../images/logo.png" alt="">
</div>
<div class="friend_container">
	<div class="head">
		<p>Выберите друзей</p>
		<span class="close"></span>
	</div>
	<div class="fields">
		<input type="text" class="search search-friend" placeholder="Начните вводить имя друга">
		<input type="text" class="search" placeholder="Название">
	</div>
	<div class="wrap">
		<div class="left">
			<p class="p">Ваши друзья</p>
			<ul class="list"></ul>
		</div>
		<div class="right">
			<p>Друзья в списке</p>
		</div>
	</div>
	<div class="bottom">
		<button class="save">Сохранить</button>
	</div>
</div>