<div class="logo">
	<img src="../images/logo.png" alt="">
</div>
<div class="friend_container">
	<div class="head">
		<p>Выберите друзей</p>
	</div>
	<div class="fields">
		<input type="text" class="search search-friend" placeholder="Начните вводить имя друга">
		<input type="text" class="search" placeholder="Название">
	</div>
	<div class="wrap">
		<div class="left">
			<p>Ваши друзья</p>
			<ul class="list"></ul>
		</div>

		<script id="friends-template" type="text/x-handlebars-template">
			<li class="friends">
				{{#each items}}
					<div class="friend">
						<img src="{{photo_100}}" alt=""/>
						<p class="name">{{first_name}} {{last_name}}</p>
					</div>
				{{/each}}
			</li>
		</script>
			
		<div class="right">
			<p>Друзья в списке</p>
		</div>
	</div>
</div>